@model BokLoftet.Models.Book

@{
    ViewData["Title"] = "Details";
}

<section class="book-details">
    <div class="details-left">
        <img src="@Html.DisplayFor(model => model.CoverImageURL)"/>
    </div>
    <div class="details-right">
        <h1>@Html.DisplayFor(model => model.Title)</h1>
        <h2>@Html.DisplayFor(model => model.Author)</h2>
        <p>@Html.DisplayFor(model => model.Description)</p>
        
        @if (Model.IsAvailable == true)
        {
            <form asp-action="Loan" method="post">
                <input type="hidden" name="id" value="@Model.Id" />
                <button type="submit">Låna</button>
            </form>
        }
        @if (Model.IsAvailable == false)
        {
            <button class="not-available">Ej i lager</button>
        }

    </div>
    
</section>



@*

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoverImageURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoverImageURL)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Loan" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit">Låna</button>
    </form>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


*@

